.card {
  margin: 0 auto 20px auto;
  width: 60%;
}

.feedform {
  &__body {
    display: flex;
  }
}

.feedinput {
  margin-left: 10px;
  width: 80%;
}

.sharebtn {
  margin-top: 10px;
  margin-left: auto;
}
