.profilepic {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background-image: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
