.sidebar {
  flex: 3;
  height: calc(100vh - 50px);

  &__wrapper {
    padding: 20px;
    text-align: left;
  }
  &__list {
  }
  &__listitem {
    &--icon {
    }
    &--text {
    }
  }
  &__memberlist {
  }

  &__memberitem {
  }
  &__friend {
  }
  &__img {
  }
}
